/auto-save-list/
/elpa/
/gnus.authinfo
/gnuwin32/
/ido.last
/bin
/.cask/
/libraries/.cask/
/server/
/tramp
/libraries/mu4e/*.elc
/url/
/session.*
/projectile-bookmarks.eld
/smex-items
/.org-id-locations
/image-dired/
/.mc-lists.el
/TAGS
/projectile.cache
/eshell/
/.#smex-items
/helm-doc.org
/recentf
*.elc
/abbrev_defs
/network-security.data
